<div>
  <p class="light font-bold">What</p>
  <p class="text-xl"><%= event.title %></p>
</div>
<br/>

<div>
  <p class="light font-bold">When</p>
  <p class="text-xl"><%= event.start_at.in_time_zone(user&.timezone || event.timezone).strftime(long_time_format) %></p>
</div>
<br/>

<% if event.location? %>
  <div>
    <p class="light font-bold">Where</p>
    <p class="text-xl"><%= link_to event.location, google_maps_location_url(event), class: "link" %></p>
  </div>
  <br/>
<% end %>

<div>
  <p class="light font-bold">Details</p>

  <div class="prose text-xl">
    <%= markdown event.description %>
  </div>
</div>
