<div>
  <u>What</u>
  <br/>
  <strong><%= event.title %></strong>
</div>
<br/>

<div>
  <u>When</u>
  <br/>
  <strong><%= event.start_at.in_time_zone(user.timezone || event.timezone).strftime(long_time_format) %></strong>
</div>
<br/>

<% if event.location %>
  <div>
    <u>Where</u>
    <br/>
    <strong><%= link_to event.location, google_maps_location_url(event) %></strong>
  </div>
  <br/>
<% end %>

<div>
  <u>Details</u>
  <div>
    <%= markdown(event.description).html_safe %>
  </div>
</div>
